<!DOCTYPE html>
<html>
<body>

<style>
    body {
        background: #304254;
        position: relative;
        padding: 0; margin: 0;
    }
    table, td, th {
        border: 1px solid black;
        border-collapse: collapse;
    }
  
    table.center {
      margin-left: auto; 
      margin-right: auto;

    }
</style>
<table class="center">
  <tr>
    <th>Service Name</th>
    <th>Port</th>
    <th>Protocol</th>
    <th>State</th>
    <th>Reason</th>>
  </tr>
  <tr>
        <td>ms-wbt-server</td>
    <td>tcp</td>
    <td>3389</td>
<td>filtered</td>
<td>no-response</td></tr><tr>
  </tr>
</table>
</body>
</html>